
#header
{
	padding-top: 10px;
}

#headerBlock
{
	margin-top: 2px;
	height: 50px;
	width: 15px;
	background-color: black;
}

#namePanel
{
	margin-top: 10px;
}

#navButton
{
	margin-top: 10px;
}

#headshotBanner
{
	margin-top: 30px;
	margin-bottom: 40px;
}

div.spacer 
{
	height: 0.5em;
}
