#header
{
	padding-top: 10px;
}

#headerBlock
{
	margin-top: 2px;
	height: 50px;
	width: 15px;
	background-color: black;
}

#navButton
{
	margin-top: 10px;
}

#namePanel
{
	margin-top: 10px;
}


#video
{
	margin-top:60px;
}

#blurb
{
	margin-top:10px;
	font-family: Century Gothic, Arial;
	font-size: 14px;
	text-align: center;
	padding-bottom: 40px;
}